In [1]:
using DataFrames

In [2]:
1 + 1

2

In [7]:
x = DataFrame(id=["a","b","a","c","c","a","c","a","a","c"], b=[2,5,7,8,3,9,1,10,4,8], c=["one","two","three","four","five","six","seven","eight","nine","ten"])

10×3 DataFrame
 Row │ id      b      c
     │ String  Int64  String
─────┼───────────────────────
   1 │ a           2  one
   2 │ b           5  two
   3 │ a           7  three
   4 │ c           8  four
   5 │ c           3  five
   6 │ a           9  six
   7 │ c           1  seven
   8 │ a          10  eight
   9 │ a           4  nine
  10 │ c           8  ten